nav {
  font-family: "Roboto", sans-serif;
  background-color: #042236;
  height: 40px;
  padding-top: 25px;
  padding-left: 15px;
  color: #dacfdd;
}

.active {
  color: #ae95b2;
  text-decoration: none;
}

nav a {
  color: #dacfdd;
  text-decoration: none;
}
